.header{
  height: 92px;
  .header-w{
    z-index: 999;

    width: 1380px;
    height: 92px;

    //border: 1px solid black;
    margin: 0 auto;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0px;
    left: 22px;
    .txt{
      width: 242px;
      height: 32px;
      margin:40px 0 20px 72px;
      float: left;
      h3{
        color: #ff5555;
        line-height: 32px;
        text-align: center;
      }
    }
    .input{
      width: 910px;
      height: 92px;
      float: left;
      //border: 1px solid black;
      padding: 40px 0 20px 0;
      box-sizing: border-box;
      input{
        height: 26px;
        width: 140px;
        border-radius: 5px;
        border: 1px solid #424242;
        margin-right: 88px;
        background-color: #eeeeee;
        color: #424242;
        font-size: 16px;
        padding: 0 10px;
        box-sizing: border-box;
        outline:none;
      }
      .btn{
        height: 26px;
        width: 140px;
        background-color: #eeeeee;
        color: #ff5555;
        border: 1px solid #ff5555;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}